@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

*{
    margin: 0;
    padding: 0;
}

.btn{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 15px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
border-radius: 2px;
background: rgb(82, 195, 3);
/* border: none; */
padding: 14px 10px 14px 10px;
cursor: pointer;
}

.btn-container{
    text-align: center;
}

#hero{
    height: 100vh;
    background-image: linear-gradient(
        0deg, rgb(16, 16, 16) -19.5%
        ,rgba(16, 16, 16, 0) 100%),
    url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 90vh;
}
#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 5px;
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;

}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 10px;
}

#card-box{
    width: 100vh;
    margin: 80px auto;
}
.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: Work Sans;
}
.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 250px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    text-align: center;
    padding: 14px 28px 14px 28px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}
.card h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 28px;
font-weight: 600;
line-height: 43px;
letter-spacing: 0%;
text-align: center;
}
.card p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 12px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 15px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}

#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 33px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
/* gap: 10px; */
}

.image{
    width: 100%;
    height: 100%;
}
.image-container{
    width: 50%;
}
    .food-container{
        /* text-align: center; */
        display: flex;
        
}
.food-content{
    text-align: center;
}
.food-content h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
/* text-align: center; */
margin-top: 70px;
}

.food-content p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 15px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
/* text-align: center; */
opacity: 0.6;
margin-bottom: 20px;
}
.food-content h6{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 22px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
/* margin-top: 20px; */
}
.food-content img{
    width: 25px;
    height: 25px;
    /* text-align: center; */
    align-items: center;
    /* margin: 0 auto; */
    margin-top: 20px;

}
#hudai{
    background-image: linear-gradient(to right, rgba(250, 245, 245, 0.829), rgba(255, 255, 255, 0.781)), url(../assets/social-bg.png);
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    /* height: ; */
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}