@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.work-sans-font{
    font-family: "Work Sans", sans-serif;
}
/* Shared Styles */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* main > section {
    margin-top: 120px;
} */

/* .display-flex{
    display: flex;
} */


.btn-primary{
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}
/* Shared styles ends */

/* Header section styles starts */

/* Nav section styles starts */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}
.nav-links{
    display: flex;  
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

/* Banner section styles starts */

.banner{
    /* max-width: 1440px; */
    margin: 0 auto;

}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 147px;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}

.image-container{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
}

.image-container img{
    width: 100%;
    margin-bottom: 45px;
}

/* Banner section styles ends */

/* Teams section styles starts */

/* .teams{
    display: flex;
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 auto;
    border: 1px solid black;
    margin-left: 50px;

    
}

.our-features{
    margin: 0 auto;
    margin-left: 20px;
    border: 1px solid red;

} */

.teams{
    width: 80%;
    display: flex;
    align-items: center;
    /* margin-left: 70px;    */
    margin: 0 auto;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    /* width: 40%; */
    /* border: 1px solid rebeccapurple; */
    margin-top: 70px;
    /* justify-content: end;
    justify-items: end; */
}

.team-img-container img{
    /* width: 100%; */
    /* align-items: end;
    align-content: end; */
}

.our-features{
    /* width: 150%; */
    /* border: 1px solid red; */
    margin-left: 80px;
}



#quick-list{
    font-weight: 500;
    font-size: 2.8rem;
    color: rgba(114, 114, 114, 1);
}

#of-our{
    font-weight: bold;
    font-size: 2.8rem;
    color: rgba(19, 19, 19, 1);
}

#features{
    font-weight: bold;
    font-size: 2.8rem;
    color: rgba(255, 144, 14, 1);
}

.feature-title{
    width: 120%;
    /* border: 1px solid rebeccapurple; */
}
.feature-description{
    font-weight: 400;
    font-size: 0.75rem;
    color: rgba(114, 114, 114, 1);
    margin-top: 15px;
    /* border: 1px solid rosybrown; */
    width: 140%;
}

/* Teams section styles ends */

/* Features you will love & enjoy section styles starts */

/* Features you will love & enjoy section styles ends */

/* Some fact section styles starts */

.facts{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 130px;
}

.facts h3{
    font-weight: bold;
    font-size: 2.8rem;
}

.facts p{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
    width: 50%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 60px;
}

.fact-card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.fact-number{
    font-weight: bold;
    font-size: 2.5rem;
    color: rgba(66, 66, 66, 1);
}

.fact-name{
    font-weight: 600;
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}

/* Some facts section styles ends */

/* Sponsor section styles starts */
.sponsor{
    width: 80%;
    margin: 0 auto;
}

.sponsor-title{
    text-align: center;
    margin-top: 150px;
}

.sponsor-description{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px ;
    
}

/* Sponsor section styles ends */

/* Responsive media query for small devices */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .nav-item{
        /* line-height: 20px; */
        padding-top: 20px;
        
    }
    .banner-title{
        font-size: 2.5rem;
        padding-top: 10px;
    }
    .banner-description{
        padding-top: 5px;
    }

    /* Teams section starts */
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-title{
        width: 110%;
        /* border: 1px solid rebeccapurple; */
    }

    .feature-description{
        width: 100%;
    }

    .our-features{
        margin-top: 20px;
        margin-left: 20px;
        width: 90%;
    }

    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 18px;
    }

    .facts p{
        width: 100%;
        margin-bottom: 30px;
    }
}




/* Responsive media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
        width: 70%;
    }

}